<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Scope+One" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
</head>

<body>
  <div class="container">
    <div class="row header">
      <h1>Current Polls</h1>
    </div>

    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
  </div>
</body>

</html>
